/* CABECALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* RODAPÉ */

.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

/* SEÇÀO SUPERIOR */

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

@media screen and (min-width: 834px) {
    /* CABECALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */

    .rodape__container {
        justify-content: space-between;
    }
}
